/*Hide Arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.display_text {
    font-family: Arial, serif;
    font-size: xx-large;

    color: #1E212B;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.button {
    /* Mobile safari fix */
    -webkit-appearance: none;
    text-align: center;

    margin-top: 1%;
    margin-bottom: 1%;

    border: none;

    border-radius: 4px;

    background-color: #2081C3;
}

.large_button.button {
    height: 7%;
    width: 100%;
}

.small_button.button {
    height: 7%;
    width: 35%;
}

.link_text.display_text {
    font-size: large;
    opacity: 70%;

}

.current_value.display_text {
    font-size: x-large;
    opacity: 70%;
    color: #1E212B;
}

.input {
    text-align: center;
    border-color: transparent;
    border-bottom: 2px solid #1E212B;

    background-color: transparent;
    padding: 0;
}

.small_input.input.display_text {
    height:4%;
    width: 30%;
}

.large_input.input.display_text {
    width: 60%;
    height: 7%;
}

.large_select {
    width: 35%;
    height: 7%;

    border: none;
    background-color: transparent;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-family: Arial, serif;
    font-size: xx-large;
    color: #1E212B;

    margin-top: 0;
    margin-bottom: 1%;
}

form {
    text-align: center;
}

footer {
    text-align: center;
}